# OS cruft
.DS_Store
Thumbs.db

# Editor cruft
*.swp
.vscode/

# VCarve backup/temp files, if any get copied in by accident
*.crv.bak
*~

# Runtime state written by the gadgets themselves, not source
PGC_Undo_Log.txt
